<style>
    .complemIconButton{
        width: 3rem;
        padding: 0.4rem 0.3rem 0.6rem 0.5rem;
    }
    .complemIconButton mat-icon{
        font-size: 1.5rem;
    }

    .mat-form-field{
        margin-left: 2rem;
        width: 35rem;
    }

    table{
        margin: 0rem 1rem 1rem 2rem;
        border-radius: 0.5rem;
        /* width: 125%; */
    }
    .mat-column-tid{
        width: 6rem;
    }
    .mat-column-title{
        width: 7.5rem;
        /* margin-right: 7rem; */
    }
    .mat-column-company{
        width: 7rem;
    }
    .mat-column-platform{
        width: 10rem;
    }
    .mat-column-empid{
        width: 7rem;
    }
    .mat-column-dept{
        width: 6rem;
    }
    .mat-column-priority{
        width: 5rem;  
    }
    .mat-column-issueDate{
        width: 5rem;  
    }
    .mat-column-duration{
        width: 5rem;  
    }
    .mat-column-status{
        width: 5rem; 
    }

    :host ::ng-deep .mat-paginator-container {
        margin-left: 1.5rem;
        justify-content: left;
    }

    .rowDetail{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .expandedDetailRow{
        height: 0;
    }

    tr.mat-row:not(.expandedDetailRow):hover{
        cursor: pointer;
        background-color: rgb(233, 231, 231);
    }

    .rowDetail h2{
        margin-top: 0.5rem;
        margin-bottom: 0.15rem;
    }

    .alignStatusHeading{
        position: relative;
        top: 4.5rem;
        left: -1rem;
    }

    .actionButton{
        padding: 0.65rem 2.15rem;
        margin: 0.5rem 0rem;
        background-color: white;
        color: rgb(36, 149, 255);
        border: 1px solid rgb(36, 149, 255);
        border-radius: 1rem;
        font-size: 1.1rem;
    }
    .actionButton:hover{
        cursor: pointer;
        background-color: rgb(36, 149, 255);
        color: white;
        border: 1px solid white;
        transition-duration: 0.25s;
    }

    .deleteButton{
        color: red;
        border-color: red;
    }
    .deleteButton:hover{
        background-color: red;
    }

    .updateButton{
        color: green;
        border-color: green;
    }
    .updateButton:hover{
        background-color: green;
    }

    
</style>

<div class="allContent" style="justify-content: left;">
    <app-side-nav [currPage] = this.currPage></app-side-nav>

    <div style="padding: 1rem 2rem 1rem 1rem;">
        <div style="margin-left: 1.75rem; display: flex; width: 55rem;
        align-items: baseline; justify-content: space-between;">
            <div>
                <img class="headingIcon" 
                src="https://img.icons8.com/fluency-systems-regular/30/056ADD/two-tickets.png" >
                <h2 style="display: inline-block; color: rgb(5, 106, 221);" class="fredoka500">Ticket Manager</h2>
            </div>
            <div class="enableButtonHover">
                <!-- <button class="complemCustomButton fredoka500" (click)="myTickets()"><mat-icon>person</mat-icon>My Tickets</button> -->
                <button class="customButton fredoka500" (click)="createTicket()"><mat-icon>add</mat-icon>New Ticket</button>
            </div>
        </div>
        <div class="enableButtonHover">
            <div>
                <mat-form-field appearance="outline" id="searchBar">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="" #ticketSearch [(ngModel)]="searchBoxValue">
                </mat-form-field>
                <button class="complemCustomButton complemIconButton"><mat-icon>filter_list</mat-icon></button>
            </div>
            <div>
                <h4 class="fredoka500" style="margin-left: 2rem; display: inline-block;">Showing tickets for the </h4>
                <mat-form-field appearance="fill" style="width: 8rem; height: 3rem;">
                    <mat-select class="fredoka" [(value)]="selectedTimePeriod">
                        <mat-option class="fredoka" *ngFor="let option of timeOptions" [value]="option.value">{{option.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle color="primary" style="margin-left: 27rem;" [(ngModel)]="onlyMyTicketsShown" [checked]="onlyMyTicketsShown" (change)="myTickets($event)">Only My Tickets</mat-slide-toggle>
            </div>
        </div>
        <div>
            <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z4">
                    
                <!-- generate all columns except status -->
                <ng-container *ngFor="let column of displayedColumns.slice(0,-1); index as i" matColumnDef="{{column}}">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[i]}}</th>
                    <td mat-cell *matCellDef="let element">{{element[column]}}</td>
                </ng-container>
                <!-- status -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="statusIsClosed(element.status)" style="color: green;">done</mat-icon>
                        <mat-icon *ngIf="statusIsPending(element.status)" style="color: red;">schedule</mat-icon>
                        <mat-icon *ngIf="statusIsProcessing(element.status)" style="color: rgb(255, 174, 0);">construction</mat-icon>
                    </td>
                </ng-container>

                <!-- expandable row content. one row that spans all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="rowDetail"
                            [@detailExpand] = "element == expandedRow? 'expanded': 'collapsed'">
                            <div style="padding: 0rem 2rem 0.75rem 0.5rem;">
                                <h2>{{element.title}} ({{element.tid}})</h2>
                                <p *ngIf="element.desc" style="font-size: larger;">{{element.desc}}</p>
                                <p><strong>Platform: </strong>{{element.company}} {{element.platform}}</p>
                                <p><strong>Issued By: </strong>{{element.empid}}
                                <strong style="margin-left: 2rem;">Dept: </strong>{{element.dept}}</p>
                                <p><strong>Issue Date: </strong>{{element.issueDate | date}}
                                    <strong style="margin-left: 2rem;" *ngIf="element.expectedDate">Expected: </strong>In {{element.duration}} on {{element.expectedDate}}
                                </p>
                                <p *ngIf="element.comments" style="margin-bottom: 8px;"><strong>Comments: </strong>{{element.comments}}</p>
                                <button class="fredoka actionButton updateButton"
                                    style="font-size: 1rem; padding: 0.25rem 0.5rem;" (click)="updateTicket(element)">
                                    Update
                                </button>
                                <button class="fredoka actionButton deleteButton"
                                    style="font-size: 1rem; padding: 0.25rem 0.5rem; margin-left: 0.5rem;"
                                    (click)="deleteTicket(element)">
                                    Delete
                                </button>
                            </div>
                            <div style="display: flex; justify-content: center; padding: 2rem 2rem 0rem 0rem;">
                                <mat-icon *ngIf="statusIsClosed(element.status)" style="color: green; font-size: 5rem;">done</mat-icon>
                                <mat-icon *ngIf="statusIsPending(element.status)" style="color: red; font-size: 5rem;">schedule</mat-icon>
                                <mat-icon *ngIf="statusIsProcessing(element.status)" style="color: rgb(255, 174, 0); font-size: 5rem;">construction</mat-icon>
                                <h2 *ngIf="statusIsClosed(element.status)" style="color: green;" class="alignStatusHeading">{{element.status}}</h2>
                                <h2 *ngIf="statusIsPending(element.status)" style="color: red;" class="alignStatusHeading">{{element.status}}</h2>
                                <h2 *ngIf="statusIsProcessing(element.status)" style="color: rgb(255, 174, 0);" class="alignStatusHeading">{{element.status}}</h2>
                            </div>
                        </div>
                    </td>
                </ng-container>
    
                <!-- 
                    ticket-row = example-element-row
                    ticket-expanded-row = example-expanded-row
                 -->
                
                <!-- generate rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                class="ticket-row" [class.ticket-expanded-row]="expandedRow === element"
                (click)="expandedRow = (expandedRow === element ? null : element)"></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="expandedDetailRow"></tr>
                <!-- <tr mat-row *matNoDataRow>
                    <td mat-cell [attr.colspan]="displayedColumns.length">No data matching the filter "{{ticketSearch.value}}"</td>
                </tr> -->
            </table>
            <mat-paginator #ticketPaginator [length]="allTickets.length" 
            [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]"
            showFirstLastButtons aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>
<!-- Ticket Manager running -->