<style>

</style>

<div class="allContent" style="justify-content: left;">
    <app-side-nav [currPage] = this.currPage></app-side-nav>

    <div style="padding: 1rem;">
        <div style="display: block;">
            <img class="headingIcon" 
            src="https://img.icons8.com/fluency-systems-regular/30/056ADD/user-male-circle.png" >
            <h2 style="display: inline-block; color: rgb(5, 106, 221);" class="fredoka500">Ticket Manager</h2>
        </div>
    </div>
</div>
Ticket Manager running