<style>
    /* see .css file */
</style>

<div class="centerAll" id="fullBody">
    <!-- <app-navbar></app-navbar> -->
    <mat-card>
        <div class="loginHalf centerAll" id="imgContainer">
            <img id="loginImg" src="../../assets/images/final-teamwork-img.png">
        </div>
        <div class="loginHalf">
            <div id="loginForm">
                <mat-card-title style="margin-bottom: 0.75rem;">Welcome Back!</mat-card-title>
                <mat-card-subtitle>Track the changes you need, collaborate, and co-operate seamlessly</mat-card-subtitle>
                <mat-card-content>
                    <form class="login-form">
                        <mat-form-field appearance="outline" style="width: 80%;">
                            <mat-label>Employee ID/Email</mat-label>
                            <input type="email" matInput [formControl]="unameFormControl" placeholder="Eg: NXT902287" #emailid>
                            <mat-hint>As provided on ID card</mat-hint>
                            <mat-error *ngIf="invalidID(emailid.value) && !unameFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="unameFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-icon *ngIf="!unameFormControl.hasError('required') && !invalidID(emailid.value)" class="looks-good-tick">check_circle</mat-icon>

                        <mat-form-field appearance="outline" style="width: 80%; margin-top: 0.5rem;">
                            <mat-label>Password</mat-label>
                            <input type="{{hide?'password':'text'}}" matInput [formControl]="passwordFormControl" placeholder="Password" #password>
                            <button mat-icon-button matSuffix (click)="hide = !hide"><mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon></button>
                            <mat-hint>Something only you'll know <em>(and remember, hopefully)</em></mat-hint>
                        </mat-form-field>
                        <mat-icon *ngIf="!passwordFormControl.hasError('required')" class="looks-good-tick">check_circle</mat-icon>

                        <div style="display: flex; flex-flow: row wrap; justify-content: space-between; margin-right: 5rem; font-family: 'Fredoka', sans-serif;">
                            <mat-checkbox color="primary">Remember Me</mat-checkbox>
                            <span id="forgotPassword">Forgot Password?</span>
                        </div>
                    </form>
                    <button mat-raised-button class="login-button" (click)="signIn(emailid.value, password.value)">Sign In</button>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>
