<style>
    body{
        display: flex;
        height: 100%;
    }
    .width50{
        width: 50%;
    }
    .centerAll{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .imageDiv{
        overflow: hidden;
        width: 52.5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<body>
    <div class="width50 imageDiv"><img src="../../assets/images/login.jpg" alt="" style="height: 40rem;"></div>
    <div class="width50 centerAll" style="background-color: rgb(5, 106, 221); width: 47.5%; flex-flow: column wrap;">
        <h1 style="font-family: 'Lobster'; color: white; font-size: 2rem; margin-bottom: 1.5px; margin-top: -1.5rem;">TicketTracker</h1>
        <h4 style="font-family: 'Roboto'; color: rgb(215, 220, 223);">Track the changes you need, collaborate, and co-operate seamlessly</h4>
        <mat-card style="width: 75%; border-radius: 1rem; padding: 2rem 0rem 2rem 1.5rem;">
            <mat-card-title class="fredoka" style="color: rgb(5, 106, 221); margin-bottom: 0.75rem;">Welcome Back!</mat-card-title>
                <!-- <mat-card-subtitle>Track the changes you need, collaborate, and co-operate seamlessly</mat-card-subtitle> -->
                <mat-card-content>
                    <form class="login-form">
                        <mat-form-field appearance="outline" style="width: 80%;">
                            <mat-label>Employee ID/Email</mat-label>
                            <input type="email" matInput [formControl]="unameFormControl" placeholder="Eg: NXT902287" #emailid>
                            <mat-hint>As provided on ID card</mat-hint>
                            <mat-error *ngIf="invalidID(emailid.value) && !unameFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="unameFormControl.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-icon *ngIf="!unameFormControl.hasError('required') && !invalidID(emailid.value)" class="looks-good-tick">check_circle</mat-icon>

                        <mat-form-field appearance="outline" style="width: 80%; margin-top: 0.5rem;">
                            <mat-label>Password</mat-label>
                            <input type="{{hide?'password':'text'}}" matInput [formControl]="passwordFormControl" placeholder="Password" #password>
                            <button mat-icon-button matSuffix (click)="hide = !hide"><mat-icon>{{hide?'visibility_off':'visibility'}}</mat-icon></button>
                            <mat-hint>Something only you'll know <em>(and remember, hopefully)</em></mat-hint>
                        </mat-form-field>
                        <mat-icon *ngIf="!passwordFormControl.hasError('required')" class="looks-good-tick">check_circle</mat-icon>

                        <div style="display: flex; flex-flow: row wrap; justify-content: space-between; margin-right: 5rem; font-family: 'Fredoka', sans-serif;">
                            <mat-checkbox color="primary">Remember Me</mat-checkbox>
                            <span id="forgotPassword">Forgot Password?</span>
                        </div>
                    </form>
                    <div class="enableButtonHover">
                        <button class="login-button fredoka500" (click)="signIn(emailid.value, password.value)">Sign In</button>
                        <button class="login-button fredoka500 signup-button" style="margin-left: 0.5rem;">Sign Up</button>
                    </div>
                </mat-card-content>
        </mat-card>
    </div>
</body>

<!-- <a href='https://www.freepik.com/vectors/ui-designer'>Ui designer vector created by storyset - www.freepik.com</a> -->