<style>
    .fredoka{
        font-family: 'Fredoka', sans-serif;
    }
    .fredoka500{
        font-family: 'Fredoka', sans-serif;
        font-weight: 500;
    }
    mat-form-field{
        display: inline-block !important;
        margin-bottom: 0.5rem;
    }
</style>

<mat-dialog-content>
    <h2 class="fredoka500" (click)="metaData(currentTicket)">{{data.ticketDialogTitle}} Ticket</h2>
    <mat-form-field appearance="outline">
        <mat-label>Ticket Title</mat-label>
        <input type="text" matInput [(ngModel)]="this.currentTicket.title" placeholder="Eg: Payment History Visibility" #ticketTitle required>
        <mat-hint>3-4 words to describe problem</mat-hint>
    </mat-form-field>
    <mat-form-field style="margin-left: 1rem;">
        <mat-select placeholder="Select Priority" appearance="fill" [(value)]="this.currentTicket.priority" required>
            <mat-option *ngFor="let priority of priorities" value="{{priority}}">{{priority}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-left: 1rem;" appearance="outline">
        <mat-label>Expected (mm/dd/yyyy)</mat-label>
        <input matInput [matDatepicker]="pickerExpected" [(ngModel)]="currentTicket.expectedDate">
        <mat-datepicker-toggle matSuffix [for]="pickerExpected"></mat-datepicker-toggle>
        <mat-datepicker #pickerExpected></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Select company" appearance="fill"  [(value)]="this.currentTicket.company" required>
            <mat-option value="NXTDigital">NXTDigital</mat-option>
            <mat-option value="InDigital">InDigital</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-left: 2rem;">
        <mat-select placeholder="Select Platform" appearance="fill" [(value)]="this.currentTicket.platform" required>
            <mat-option *ngFor="let platform of platformConsolidatedList" value="{{platform.name}}">{{platform.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-left: 1.5rem;">
        <mat-select placeholder="Select Status" appearance="fill" [(value)]="this.currentTicket.status" required>
            <mat-option *ngFor="let status of statuses" value="{{status}}">{{status}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" style="display: block !important;">
        <mat-label>Description</mat-label>
        <textarea type="text" matInput [(ngModel)]="this.currentTicket.desc" placeholder="Include feature details, styles and specifics if any" style="height: 5rem;" #ticketDesc></textarea>
        <mat-hint>Explain it in detail here</mat-hint>
    </mat-form-field>  
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="fredoka" mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button *ngIf="data.ticketDialogTitle=='Create'" [disabled]="!allMandatoryFilled()" class="fredoka" mat-raised-button [mat-dialog-close]="true" (click)="createTicket()" style="background-color: rgb(5, 106, 221); color: white;">Create Ticket</button>
    <button *ngIf="data.ticketDialogTitle=='Update'" [disabled]="!allMandatoryFilled()" class="fredoka" mat-raised-button [mat-dialog-close]="true" (click)="updateTicket(currentTicket)" style="background-color: rgb(5, 106, 221); color: white;">Update Ticket</button>
</mat-dialog-actions>

<!-- add data to rows, make csv on ticket creation -->