<style>
    body{
        display: flex;
        height: 100%;
    }
    .brandName{
        color: white;
        position: absolute;
        margin: 0.75rem;
        font-family: 'Lobster', cursive;
    }
    .width50{
        width: 50%;
    }
    .centerAll{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    mat-stepper button{
        margin-right: 0.5rem;
    }

    .imageDiv{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .looks-good-tick{
        color: rgb(0, 196, 33); 
        font-size: 2rem;
        position: relative; 
        top: 0.3rem; 
        left: 0.5rem; 
    }

    .grey-small-icon{
        color: rgb(170, 169, 169);
        font-size: 1.2rem;
        position: relative;
        top: 0.25rem;
    }
    .grey-small-icon:hover{
        color: rgb(129, 129, 129);
        transition-duration: 0.3s;
        cursor: pointer;
    }

    ::ng-deep .mat-horizontal-stepper-header{
        padding: 0px 1rem;
        width: 20px;
    }
</style>

<body>
    <h2 class="brandName">TicketTracker</h2>
    <div class="width50 centerAll" style="background-color: rgb(5,106,221);">
        <mat-card style="width: 75%; padding: 2rem; border-radius: 1rem;">
            <mat-card-title class="fredoka500" style="color: rgb(5, 106, 221);">We're so glad you're registering</mat-card-title>
            <mat-card-subtitle>Just a few steps away from creating your account</mat-card-subtitle>
            <mat-card-content>
                <mat-stepper linear #signUpStepper>
                    <mat-step>
                        <h3 class="fredoka500">Basic Information</h3>
                        <mat-form-field appearance="fill" style="width: 65%">
                            <mat-label>Full Name</mat-label>
                            <input type="text" matInput placeholder="" #name [(ngModel)]="newUser.name" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="margin: 0rem 1rem; width: 7.5rem;">
                            <mat-label>Employee ID</mat-label>
                            <input type="text" matInput placeholder="On your ID Card" value="NXT902287" #empID required>
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="width: 65%;">
                            <mat-label>Company Email ID</mat-label>
                            <input type="email" matInput placeholder="" [(ngModel)]="newUser.empEid" #email required>
                            <!-- <span matSuffix>@nxtdigital.in</span> -->
                        </mat-form-field>
                        <button mat-raised-button matStepperNext style="display: block;">Next</button>
                    </mat-step>
                    <mat-step>
                        <h3 class="fredoka500">Contact Information</h3>
                        <mat-form-field appearance="fill">
                            <mat-label>Mobile No.</mat-label>
                            <input type="text" matInput placeholder="" [(ngModel)]="newUser.mob" #mob>
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="margin-left: 1rem;">
                            <mat-label>Office No./Extension</mat-label>
                            <input type="text" matInput placeholder="" [(ngModel)]="newUser.offExt" #offExt>
                        </mat-form-field>  
                        <button mat-raised-button matStepperPrevious>Previous</button>
                        <button mat-raised-button matStepperNext>Next</button>
                    </mat-step>
                    <mat-step>
                        <h3 class="fredoka500">Employee Information</h3>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Company" required [(value)]="newUser.company">
                                <mat-option value="NXTDigital">NXTDigital</mat-option>
                                <mat-option value="InDigital">InDigital</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="margin-left: 1rem;">
                            <mat-label>Designation</mat-label>
                            <input type="text" matInput placeholder="" [(ngModel)]="newUser.designation" #designation>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Supervisor</mat-label>
                            <input type="text" matInput placeholder="The guy/gal you don't want to disappoint" [(ngModel)]="newUser.supervisor" #supervisor>
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="margin-left: 1rem;">
                            <mat-label>Dept.</mat-label>
                            <input type="text" matInput placeholder="" [(ngModel)]="newUser.dept" #dept>
                        </mat-form-field>
                        <button mat-raised-button matStepperPrevious>Previous</button>
                        <button mat-raised-button matStepperNext>Next</button>
                    </mat-step>
                    <mat-step>
                        <h3 class="fredoka500">Set a Password <mat-icon class="grey-small-icon">info</mat-icon></h3>
                        <mat-form-field appearance="fill" style="width: 70%;">
                            <mat-label>Password</mat-label>
                            <input type="{{passwHide?'password':'text'}}" matInput placeholder="Something you'll remember" [(ngModel)]="passwordVal" #password>
                            <button mat-icon-button matSuffix (click)="passwHide = !passwHide"><mat-icon>{{passwHide?'visibility_off':'visibility'}}</mat-icon></button>
                        </mat-form-field>
                        <mat-icon *ngIf="checkPasswordValid()" class="looks-good-tick">check_circle</mat-icon>
                        <mat-form-field appearance="fill" style=" width: 70%;">
                            <mat-label>Confirm Password</mat-label>
                            <input type="{{passwHide?'password':'text'}}" matInput placeholder="Check it again" [(ngModel)]="passwordMatchVal" #passwordConfirm>
                            <button mat-icon-button matSuffix (click)="passwHide = !passwHide"><mat-icon>{{passwHide?'visibility_off':'visibility'}}</mat-icon></button>
                        </mat-form-field>
                        <mat-icon *ngIf="checkPasswordMatch()" class="looks-good-tick">check_circle</mat-icon>
                        <div style="display: block;">
                            <button mat-raised-button matStepperPrevious>Previous</button>
                            <button mat-raised-button style="background-color: rgb(5, 106, 221); color: white;" (click)="signUp()">Sign Up</button>
                        </div>
                    </mat-step>
                </mat-stepper>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="imageDiv width50"><img src="../../assets/images/signup.jpg" style="height: 40rem;"></div>
</body>

<!-- <a href="https://www.freepik.com/vectors/citizen">Citizen vector created by storyset - www.freepik.com</a> -->