<style>
    #fields{
        display: inline-block; 
        width: 70%;
        margin-top: 2rem;
        margin-left: -7.5rem;
    }
    .width65{
        width: 65%;
    }
</style>

<!-- current page : {{currPage}} -->
<div class="allContent" style="justify-content: left;">
    <app-side-nav [currPage]="this.currPage"></app-side-nav>
    <div style="margin: 1.5rem 0rem 1rem 5rem; width: 80%;">
        <div>
            <img class="headingIcon" 
            src="https://img.icons8.com/fluency-systems-regular/30/0551DD/user.png" >
            <h2 style="display: inline-block; color: rgb(5, 81, 221);" class="fredoka500" (click)="metadata()">My Profile</h2>
        </div>
        <div style="margin: 1rem 0rem 1rem 2rem;">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEqis2UyP-_Ow/profile-displayphoto-shrink_200_200/0/1633333854582?e=1655337600&v=beta&t=HYYY9o3JfCHhrb4tUsipDonQ6gaD34Dn5HWQuPTmXJQ"
                style="float: left; border-radius: 50%; height: 6rem;
                margin-right: 1.25rem;">
            <h2 style="display: inline-block;" class="fredoka500">Marc Almeida</h2>
            <p class="fredoka" style="font-style: italic; color: rgb(107, 107, 107);">Review and edit your profile information and settings</p>
        </div>

        <div id="fields">
            <div id="basic-info">
                <h4 class="fredoka500">Basic Info</h4>
                <mat-form-field appearance="outline" class="width65" style="margin: 0rem 2rem 0rem 0rem;">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput placeholder="" #name [(ngModel)]="currUser.name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Employee ID</mat-label>
                    <input type="text" matInput placeholder="" value="NXT123" #empID disabled>
                </mat-form-field>
                <mat-form-field appearance="outline" class="width65" style="margin: 0rem 2rem 0.5rem 0rem;">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="" #email [(ngModel)]="currUser.empEid" required>
                </mat-form-field>   
                <mat-form-field appearance="outline">
                    <mat-label>Role</mat-label>
                    <input type="text" matInput placeholder="" value="Admin" value="{{currUser.role}}" #role disabled>
                    <mat-hint>Provided by admin</mat-hint>
                    <!-- <mat-select value="Admin">
                        <mat-option></mat-option>
                    </mat-select> -->
                </mat-form-field>
            </div>
            <div id="contact-info">
                <h4 class="fredoka500">Contact Info</h4>
                <!-- <mat-form-field appearance="outline" class="width65" style="margin: 0rem 2rem 0.5rem 0rem;">
                    <mat-label>Address</mat-label>
                    <input type="text" matInput placeholder="Home is where the heart is, but we really need somewhere to send mail" #offNo>
                </mat-form-field>  -->
                <mat-form-field appearance="outline">
                    <mat-label>Mobile No.</mat-label>
                    <input type="text" matInput placeholder="" [(ngModel)]="currUser.mob" #mob>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Office No./Extension</mat-label>
                    <input type="text" matInput placeholder="" [(ngModel)]="currUser.offExt" #mob>
                </mat-form-field>          
            </div>
            <div id="employee-info">
                <h4 class="fredoka500">Employee Information</h4>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Company" required  [(value)]="currUser.company">
                        <mat-option value="NXTDigital">NXTDigital</mat-option>
                        <mat-option value="InDigital">InDigital</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Designation</mat-label>
                    <input type="text" matInput placeholder="" [(ngModel)]="currUser.designation" #mob>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin: 0rem 2rem 0rem 0rem;">
                    <mat-label>Supervisor</mat-label>
                    <input type="text" matInput placeholder="The guy/gal you don't want to disappoint" [(ngModel)]="currUser.supervisor" #supervisor>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Dept.</mat-label>
                    <input type="text" matInput placeholder="" [(ngModel)]="currUser.dept" #mob>
                </mat-form-field>
            </div>
            <button (click)="addUser()">Add User(Remove later)</button>
            <div id="settings">
                what settings should i put here yaar
            </div>
            <div>
                Users:
                <ul>
                    <li *ngFor="let user of USERS"><strong>{{user.key}}:</strong> {{user.empEid}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>