<!-- <app-navbar></app-navbar> -->
<style>
    #allContent{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Fredoka', sans-serif;
        color: rgb(5, 106, 221);
    }
    .headingIcon{
        margin-right: 0.3rem;
        position: relative;
        top: 0.5rem;
    }
    .divHeading{
        font-weight: 500;
        font-size: 1.1rem;
        margin-left: 1.5rem;
        margin-bottom: 0rem;
        color: black;
    }

    #sideNavIcons{
        width: 3.5rem;
        background-color: azure;
    }
    #sideNavIcons ul{
        margin: 0.75rem 0rem 0.75rem 0rem;
        padding: 0.5rem 0px 0.35rem 0px;
    }
    #sideNavIcons li{
        margin: 0.3rem 0px;
        padding: 0.4rem 0rem 0.2rem 0rem;
        border-radius: 3px;
    }
    #sideNavIcons img{
        padding-left: 0.86rem;
    }
    #sideNavIcons img:hover{
        cursor: pointer;
    }
    .pagesIcons:hover{
        cursor: pointer;
        background-color: rgb(163, 206, 255);
        transition-duration: 0.2s;
    }
    .active{
        border-right: 3px rgb(5, 106, 221) solid;
    }

    #lineChart{grid-area: lineCh;}
    #donutChart{grid-area: donutCh;}
    #NXTvIMCL{grid-area: doubleBarCh;}
    #gridContent{
        display: grid;
        grid-template-rows: 200px 250px;
        grid-template-columns: 400px 430px;
        gap: 1rem 0rem;
        padding: 0.5rem;
        grid-template-areas: 
        'lineCh doubleBarCh'
        'donutCh doubleBarCh';
        justify-content: space-evenly;
    }

    #leftContent{
        padding: 1rem;
    }
    #summaries{
        display: inline-block;
        border-radius: 1rem;
    }
    #yourInsights{
        width: 25rem;
        background-color: azure;
        padding: 0.45rem;
    }


    .BIchart{
        display: inline-block;
        width: 25rem;
        border-radius: 0.5rem;
        padding: 0.5rem 0.5rem 12.5rem 0.25rem;
    }

    #yourInsights table{
        margin: 1rem 1rem 1rem 2rem;
        border-radius: 0.5rem;
    }
    #yourInsights tr{

    }
    /* .mat-chip.mat-standard-chip{
        background-color: green;
        color: white;
    } */
    .greenBG{
        background-color: green;
        color: white;
    }
    .redBG{
        background-color: red;
        color: white;
    }
    .purpleBG{
        background-color: rgb(76, 0, 255);
        color: white;
    }
    
</style>
<div id="allContent">
    <div id="sideNavIcons">
        <!-- <div style="height: 50%;"></div> -->
        <ul style="list-style-type: none;">
            <li style="padding-left: 0.76rem;">
                <img src="https://img.icons8.com/fluency-systems-regular/30/056ADD/menu--v1.png" 
                style="margin-bottom: 1.5rem; padding-left: 0rem;" id="menuIcon">
            </li>
            <li class="pagesIcons" *ngFor="let icon of sideNavIconList"
            [ngClass]="{'active': pageActive(icon)}" style="margin: 1rem 0rem 1rem 0rem;">
                <img src="https://img.icons8.com/fluency-systems-regular/25/056ADD/{{icon}}.png" #{{icon}}>
            </li>
        </ul>
    </div>
    <div id="leftContent"> <!-- all content in white -->
        <div style="display: block;">
            <img class="headingIcon" src="https://img.icons8.com/fluency-systems-regular/30/056ADD/user-male-circle.png" >
            <h2 style="display: inline-block;">Good {{this.timeOfDay}} User</h2>
        </div>
        <div id="summaries"> <!-- grid Title + gridContent -->
            <h3 class="divHeading">Dashboard</h3>
            <div id="gridContent">
                <div class="BIchart" id="lineChart" *ngIf="lineChartOptions.series && 
                lineChartOptions.chart && lineChartOptions.xaxis  && 
                lineChartOptions.dataLabels && lineChartOptions.grid && 
                lineChartOptions.stroke && lineChartOptions.title">
                    <apx-chart
                    [series]="lineChartOptions.series"
                    [chart]="lineChartOptions.chart"
                    [xaxis]="lineChartOptions.xaxis"
                    [dataLabels]="lineChartOptions.dataLabels"
                    [grid]="lineChartOptions.grid"
                    [stroke]="lineChartOptions.stroke"
                    [title]="lineChartOptions.title"></apx-chart>
                </div>
                <div class="BIchart" id="donutChart" *ngIf="donutChartOptions.series && 
                donutChartOptions.chart && donutChartOptions.responsive &&
                donutChartOptions.title && 
                donutChartOptions.dataLabels">
                <!-- donutChartOptions.theme &&  -->
                    <apx-chart
                        [series]="donutChartOptions.series"
                        [chart]="donutChartOptions.chart"
                        [labels]="donutChartOptions.labels"
                        [responsive]="donutChartOptions.responsive"
                        [dataLabels]="donutChartOptions.dataLabels"
                        [title]="donutChartOptions.title"></apx-chart>
                </div>
                <div class="BIchart" id="NXTvIMCL" 
                *ngIf="grBarChartOptions.series && 
                grBarChartOptions.chart && grBarChartOptions.dataLabels && 
                grBarChartOptions.plotOptions && grBarChartOptions.xaxis &&
                grBarChartOptions.stroke && grBarChartOptions.title"
                style="padding-bottom: 0rem;">
                    <apx-chart
                        [series]="grBarChartOptions.series"
                        [chart]="grBarChartOptions.chart"
                        [dataLabels]="grBarChartOptions.dataLabels"
                        [plotOptions]="grBarChartOptions.plotOptions"
                        [xaxis]="grBarChartOptions.xaxis"
                        [stroke]="grBarChartOptions.stroke"
                        [title]="grBarChartOptions.title"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div id="yourInsights">
        <h3 class="divHeading" style="color:rgb(5, 106, 221);">
            <img class="headingIcon" src="https://img.icons8.com/fluency-systems-regular/30/056ADD/statistic-document.png">
            Your Insights
        </h3>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- 'tid','title','desc','status' -->

            <!-- generate columns -->
            <!-- tid -->
            <ng-container matColumnDef="tid">
                <th mat-header-cell *matHeaderCellDef>TID</th>
                <td mat-cell *matCellDef="let element">{{element.tid}}</td>
            </ng-container>
            <!-- title -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <!-- desc -->
            <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.desc}}</td>
            </ng-container>
            <!-- status -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip [ngClass]="{'greenBG': element.status == 'Closed', 'redBG' : element.status=='Pending', 'purpleBG': element.status == 'Production'||element.status == 'Testing'||element.status == 'Approval'}">{{element.status}}
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>

            <!-- generate rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>